@page
@model IndiaModel
@{
    ViewData["Title"] = "INDIA";
}
<link rel="stylesheet" href="~/css/India.css" />

<h1>@ViewData["Title"]</h1>


<div class="taj">
    <img src="~/css/tajmahal.jpg" width="1000" height="500"/>
</div>

<div class="mahal">
    <p>@ViewData["v1"] </p>
</div>

<div class="amber">
    <img src="~/css/amber.jpg" width="1000" height="500" />
</div>

<div class="fort">
    <p>
        @ViewData["v2"]
    </p>
</div>

<div class="indian">
    <img src="~/css/gate.jpg" width="1000" height="500" />
</div>

<div class="gate">
    <p>
        @ViewData["v3"]
    </p>
</div>

<div class="qutub">
    <img src="~/css/qutub.jpg" width="1000" height="500" />
</div>

<div class="minar">
    <p>
        @ViewData["v4"]
    </p>
</div>

<div class="for">
    <img src="~/css/red.jpg" width="1000" height="500" />
</div>

<div class="red">
    <p>
        @ViewData["v5"]
    </p>
</div>





    