@page
@model IndonesiaModel
@{
    ViewData["Title"] = "INDONESIA";
}
<link rel="stylesheet" href="~/css/Indonesia.css" />


<h1>@ViewData["Title"]</h1>

<div class="ba">
    <img src="~/css/bali.jpg" width="1000" height="500" />
</div>

<div class="li">
    <p>
        @ViewData["v1"]
    </p>
</div>

<div class="yog">
    <img src="~/css/yogyakarta.jpg" width="1000" height="500" />
</div>

<div class="ya">
    <p>
        @ViewData["v2"]
    </p>
</div>

<div class="gili">
    <img src="~/css/gili.jpg" width="1000" height="500" />
</div>

<div class="air">
    <p>
        @ViewData["v3"]
    </p>
</div>

<div class="komodo">
    <img src="~/css/komodo.jpg" width="1000" height="500" />
</div>

<div class="island">
    <p>
        @ViewData["v4"]
    </p>
</div>

<div class="boro">
    <img src="~/css/borobudur.jpg" width="1000" height="500" />
</div>

<div class="budur">
    <p>
        @ViewData["v5"]
    </p>
</div>





