@page
@model MalaysiaModel
@{
    ViewData["Title"] = "MALAYSIA";
}

<link rel="stylesheet" href="~/css/Malaysia.css" />

<h1>@ViewData["Title"]</h1>

<div class="twin">
    <img src="~/css/twin.jpg" width="1000" height="500" />
</div>

<div class="towers">
    <p>
        @ViewData["v1"]
    </p>
</div>

<div class="batu">
    <img src="~/css/batu.jpg" width="1000" height="500" />
</div>

<div class="caves">
    <p>
        @ViewData["v2"]
    </p>
</div>

<div class="me">
    <img src="~/css/menara.jpg" width="1000" height="500" />
</div>

<div class="nara">
    <p>
        @ViewData["v3"]
    </p>
</div>

<div class="kl">
    <img src="~/css/klcc.jpg" width="1000" height="500" />
</div>

<div class="cc">
    <p>
        @ViewData["v4"]
    </p>
</div>

<div class="escape">
    <img src="~/css/escape.jpg" width="1000" height="500" />
</div>

<div class="penang">
    <p>
        @ViewData["v5"]
    </p>
</div>






