@page
@model PhilippinesModel
@{
    ViewData["Title"] = "PHILIPPINES";
}
<link rel="stylesheet" href="~/css/Philippines.css" />

<h1>@ViewData["Title"]</h1>


<div class="phil">
    <img src="~/css/Boracay.jpg" width="1000" height="500" />
</div>

<div class="nes">
    <p>@ViewData["v1"] </p>
</div>

<div class="siar">
    <img src="~/css/Siargao.jpg" width="1000" height="500" />
</div>

<div class="gao">
    <p>@ViewData["v2"] </p>
</div>

<div class="choco">
    <img src="~/css/chocolate.jpg" width="1000" height="500" />
</div>

<div class="late">
    <p>@ViewData["v3"] </p>
</div>

<div class="pala">
    <img src="~/css/palawan.jpg" width="1000" height="500" />
</div>

<div class="wan">
    <p>@ViewData["v4"] </p>
</div>

<div class="intra">
    <img src="~/css/intra.jpg" width="1000" height="500" />
</div>

<div class="ros">
    <p>@ViewData["v5"] </p>
</div>







