@page
@model ThailandModel
@{
    ViewData["Title"] = "THAILAND";
}

<link rel="stylesheet" href="~/css/Thailand.css" />

<h1>@ViewData["Title"]</h1>

<div class="grand">
    <img src="~/css/grand.jpg" width="1000" height="500" />
</div>

<div class="palace">
    <p>
        @ViewData["v1"]
    </p>
</div>

<div class="floating">
    <img src="~/css/floating.jpg" width="1000" height="500" />
</div>

<div class="market">
    <p>
        @ViewData["v2"]
    </p>
</div>

<div class="chiang">
    <img src="~/css/chiang.jpg" width="1000" height="500" />
</div>

<div class="mai">
    <p>
        @ViewData["v3"]
    </p>
</div>

<div class="khao">
    <img src="~/css/khao.jpg" width="1000" height="500" />
</div>

<div class="yai">
    <p>
        @ViewData["v4"]
    </p>
</div>

<div class="phang">
    <img src="~/css/phang.jpg" width="1000" height="500" />
</div>

<div class="bay">
    <p>
        @ViewData["v5"]
    </p>
</div>






